@import 'variables';

.footer {
  background-color: $primary-color;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  height: 80px;

  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 2px; // Espaço entre "VisualPlex" e "Portal de Análise de Dados"

    .footer-brand {
      font-family: $font-family;
      font-size: 16px;
      font-weight: 600;
    }

    .footer-description {
      font-family: $font-family;
      font-size: 12px;
      opacity: 0.9;
    }
  }

  .footer-center {
    font-family: $font-family;
    font-size: 12px;
    opacity: 0.9;
    text-align: center;
    flex: 1;
  }

  .footer-right {
    display: flex;
    align-items: center;
    gap: 16px;

    a {
      color: $white-color;
      text-decoration: none;
      font-family: $font-family;
      font-size: 14px;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
