// Paleta de Cores
$primary-color: #0077B6;   // header, botões principais
$text-color: #415A77;      // textos
$highlight-color: #48CAE4; // destaques
$interactive-color: #80ED99; // elementos interativos
$background-color: #F8F9FA;  // fundo

// Neutras
$border-color: #ADB5BD;  
$subtitle-color: #8D99AE; 
